.nav {
  width: 90%;
  margin: 3rem 5%;

  display: flex;

  justify-content: space-between;

  .back {
    display: flex;
  }

  img {
    height: 45px;
    margin-right: 0.5rem;
  }

  h1 {
    margin: 0.5rem 0;
    line-height: 1rem;
    span {
      font-size: 1rem;
    }
  }
}
